@font-face {
    font-family: "amazon-ember";
    src: URL("Amazon-Ember-Medium.ttf") format("truetype");
}

#babcanv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    outline: none;
}

.swal2-container::-webkit-scrollbar {
    display: none;
}

.bronchibtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}
.esophagusbtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}
.liverbtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}.intestinebtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}.pancreasbtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}.spleenbtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}.colonbtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}.tracheabtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}
#bronchibtn{
left: 80vh;
    top: 73vh;
}
#liverbtn{
    left: 80vh;
        top: 73vh;
    }
#intestinebtn{
left: 80vh;
    top: 73vh;
}
#pancreasbtn{
    left: 80vh;
        top: 73vh;
    }
#spleenbtn{
    left: 80vh;
        top: 73vh;
}
#colonbtn{
    left: 80vh;
        top: 73vh;
}
#babcanv:hover {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

#babcanv:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.largeBtn {
    position: absolute;
    z-index: 100;
    border: none;
    border-radius: 6px;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
}

#backcell {
    left: 5vh;
    top: 3vw;
    opacity: 0;
}

#backcell:hover {
    cursor: pointer;
}

#backHuman {
    left: 6vh;
    opacity: 1;
}

#backBrain{
    left: 8vh;
    opacity: 1;
}

#backHuman:hover {
    cursor: pointer;
}

.smlbtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
}

#memb {
    left: 37vw;
    top: 12vh;
}

#phospho {
    left: 49vw;
    top: 28vh;
}

#channeltransport {
    left: 44vw;
    top: 38vh;
}

.animbtn {
    animation: animbtn 1.3s ease forwards;
}

.animobtn {
    cursor: default !important;
    animation: animobtn 1.3s ease forwards;
}

@keyframes animbtn {
    0% {
        opacity: 0;
        display: block;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animobtn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

#phospho2 {
    left: 55vw;
    top: 36vh;
}

#cholestrol {
    left: 52vw;
    top: 32vh;
}

#receptorprotein {
    left: 37vw;
    top: 38vh;
}

.mitosmlbtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}

#mitosmlbtn {
    left: 45vw;
    top: 80vh;
}

.golgismlbtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}

#golgismlbtn {
    left: 45vw;
    top: 80vh;
}

.roughersmlbtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}

.smoothersmlbtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}

#roughersmlbtn {
    left: 45vw;
    top: 80vh;
}

#smoothersmlbtn {
    left: 45vw;
    top: 80vh;
}

.brainbtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}
.digestivebtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}
#brainbtn {
    left: 45vw;
    top: 92vh;
}
.skullbtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}
#skullbtn {
    left: 45vw;
    top: 85vh;
}
#digestivebtn {
    left: 45vw;
    top: 92vh;
}
.statsdom {
    position: absolute;
    right: 0px;
    top: 0px;
}

#babylonjsLoadingDiv {
    z-index: 9999 !important;
}

#panelbtn {
    right: 5vh;
    top: 30vh;
    width: 15%;
    left: 5vh;
}

.sContent {
    max-width: 90%;
    vertical-align: baseline;
    font-size: calc(0.75vw + 0.75vh) !important;
}

.sTitle {
    font-size: calc(1vw + 1vh) !important;
    margin-left: 2vw;
    color: #89ba2c;
}

.cd-panel__close:hover {
    cursor: pointer;
}

#skeletal {
    left: 5vh;
    top: 12vh;
}

#neuron {
    left: 5vh;
    top: 13vh;
}
#ETC{
    left: 5vh;
    top: 15vh;
}
.heartbtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}

#heartbtn {
    left: 80vh;
    top: 93vh;
}

.kidneybtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}

#kidneybtn {
    left: 80vh;
    top: 77vh;
}

.nephronbtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}

#nephronbtn {
    left: 5vh;
    top: 20vh;
}

.exretorybtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}

#exretorybtn {
    left: 80vh;
    top: 77vh;
}

#backExretory {
    left: 5vh;
    top: 8vh;
    opacity: 0;
}

#backKidney {
    left: 5vh;
    top: 8vh;
    opacity: 0;
}

#kidney2dmodelbtn {
    left: 5vh;
    top: 14vh;
}

.lungbtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}

#lungbtn {
    left: 80vh;
    top: 90vh;
}

.stomachbtns {
    z-index: 99999999;
    font-family: "amazon-ember";
    font-size: calc(0.65vw + 0.65vh);
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s !important;
    border-radius: 6px;
}

#stomachbtn {
    left: 80vh;
    top: 85vh;
}

#search {
    top: 2vh;
    left: 140vh;
}
#dropdown {
    position: relative;
}
#searchbox {
    width: 190%;
}

.searchContent {
    z-index: 1;
    position: absolute;
}
#systems {
    top: 88vh;
    left: 1800vh;
}
#dropdown {
    position: relative;
}
#searchbox {
    width: 190%;
}

.searchContent {
    z-index: 1;
    position: absolute;
}
#exterior {
    left: 5vh;
    top: 8vh;
}

/* #ribopanelbtn {
    left: 65vh;
    top: 84vh;
    z-index: 1080;
} */
#eyebtn {
    left: 87vh;
    bottom: 10vh;
}

#backbtn {
    left: 3vw;
    top: 10vh;   
}
